.vertical-list {
  position: relative;
  top: 20vh;
  float: left;
  min-width: 30%;
  width: 30%;
  height: 80vh;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.vertical-list::-webkit-scrollbar {
  display: none;
}